.gray {
	color: gray;
}
.red {
	color: red;
}
.green {
	color: green;
}
.inotice1 {
	color: gray;
	margin: 0.33em 0pt !important;
}
.inotice3 {
	background: #FFFFFF url(../images/icon/ico_lights.gif) no-repeat scroll 3px 5px;
	border: 1px solid #EFEFEF;
	color: #999999;
	font-weight: normal;
	line-height: 1.5em;
	margin: 0.67em 0pt 0pt 15px;
	padding: 0.67em 0.67em 0.67em 36px;
	text-align: left;
	width: 100px;
}
.sellbox {
	border: 1px solid #CBDDF1;
	margin: 0.5em 0pt;
	padding: 0.5em 0pt 0pt;
}
.form-section2 {
	background: transparent url(../zone/images/bg_sidebar.jpg) repeat-y scroll left top;
}
.sec-toggler {
	display: block;
	float: left;
	width: 30px;
}
.form-section2 h3 {
	background-color: #E5EDF8;
	color: #5F98C5;
	font-size: 14px;
	height: 2.5em;
	line-height: 2.5em;
	margin-bottom: 1em;
}
.form-section2 h3 span {
	font-size: 12px;
	font-weight: normal;
}
.form-section2 dl {
	clear: both;
}
.form-section2 dl dt {
	clear: both;
	float: left;
	font-weight: bold;
	text-align: right;
	width: 160px;
}
.form-section2 dl dd {
	margin: 0pt 0pt 1.5em 180px;
}
.form-section2 dd.seper {
	border-bottom: 1px dotted #CCDEF2;
	clear: both;
	height: 1px;
	line-height: 1px;
	margin: -1em 0pt 1.2em !important;
}
.sellbox .sellbox-bottom {
	background-color: #E7EDF8;
	border-top: 1px solid #CBDDF1;
	padding: 1.5em 0.8em;
}


.form-section2 .label-cr {
display:block;
float:left;
margin:0pt 0.5em 0pt 0pt;
}
.form-section2 p.group-cb .label-cr {
margin-bottom:0.67em;
width:200px;
}
.form-section2 p.group-cb2 .label-cr {
margin:0pt 0pt 0.67em 1em;
overflow:hidden;
width:150px;
}
.form-section2 p.group-cb .label-cr span {
color:#0099FF;
font-size:14px;
margin-left:0.5em;
}