#SampleMenu .Menu-Skin-Horizontal
{
    position:absolute;
    left: 9.5em;
    top: 0;
    width: 45em;
    z-index: 300;
}

#SampleMenu .Menu-Skin-Vertical
{
    position:relative;
    top: 3em;
    left: 0;
    z-index: 300;
}

#SampleMenu .Menu-Skin-StaticItem
{
    background:#7795BD url(bg_nav.gif) repeat-x;
    font-size: small;
}

#SampleMenu .Menu-Skin-DynamicHover
{
    background:#7795BD;    
}