/* CSS Document */

body,p,td,input,option,textarea,select{color:#333333;font:12px "Verdana"}
body,form,ul,li,p,ol{margin:0;padding:0}
body{background:#FFFFFF;text-align:center; margin-top:5px;}
img{border:0}
ul{list-style-type:none}
a:link{ text-decoration:none; color:WindowText;}
a:hover{color:#FF6633;}
table{text-align:left; border:solid 0px #669999;}
#maincontent{width:100%; height:auto; border-width:0px; background-color:#FFFFFF; text-align:center; clear:both;}
#top{height:60px; border-bottom-width:0px; width:1024px;}
#logo{width:262px; height:60px; background-image:url(images/logo.jpg); margin-left:0px; float:left;}
#logo a {display:block; height:42px; margin:10px 0pt 0pt 1px; width:291px; }
#topright{ width:762px;height:60px; background-color:#FFFFFF; margin-left:0px; float:left;}
#login{width:600px; height:32px; float:right; margin-left:30px;}
#login .login{height:20px; width:150px; float:left;margin-left:50px; margin-top:5px; text-align:left;}
#login .profile{height:20px; width:400px;float:left;margin-left:0px; margin-top:5px;}
#login .profile ul{float:left; margin-left:20px;}
#login .profile ul li{float:left; width:75px; background-color:#FFFFCC;}
#menu{ width:500px; height:28px; float:left;}
#menu ul{float:left;margin-left:0px; width:300px; margin-left:50px;}
#menu ul li{ height:22px;float:left; margin-left:0px;width:50px; background-image:url(images/menubg.gif); padding-top:5px; border:  #669999 solid; border-width:1px;}
#menu ul li:hover{ background-image:url(images/menubg2.gif);}
/*搜索开始*/
#search{width:100%; height:44px; background-image:url(images/searchbg.jpg); margin-top:0px;}
#search .search{width:500px;height:24px;float:left; margin-left:100px; margin-top:8px;}
#search .help{width:200px;height:14px;float:left; margin-top:13px; margin-left:0px;}
#search .help a{color:#FFFFFF; text-decoration:none;}
#searchbottom{ width:1024px; height:32px; background-image:url(images/searchbottombg.jpg);}
#searchbottom .searchbottomleft{width:27px; height:32px; float:left; margin-left:0px; background-image:url(images/searchbottomleft.jpg);}
#searchbottom .tags{ width:900px; height:32px;margin-left:50px; float:left;}
#searchbottom .tags .tagscontent{ width:500px; height:18px; margin-left:20px; margin-top:8px; float:left;}
#searchbottom .searchbottomright{width:27px; height:32px; float:right; margin-left:0px; background-image:url(images/searchbottomright.jpg);}
/*网页中部内容部分开始*/
#main{ text-align:left; width:1024px; height:auto; clear:both;}
#main .main1{width:1024px; height:auto; float:left;}
#main .main1 .left{width:250px; height:auto; float:left; border:0px; margin-left:0px;}
#main .main1 .notice{width:248px; height:230px; float:left; border:#9bd057 1px solid; margin-left:0px;}
.title{width:250px; height:22px; float:left; border:0px;}
.title .titlecontent{width:150px; height:18px; float:left; margin-top:8px; margin-left:10px;}
.title .more{width:80px; height:18px; float:left; margin-left:10px; margin-top:8px; text-align:right;}
.partcontent{width:100%; height:auto; float:left; border-top:dotted 1px; margin-top:10px;margin-left:0px; text-align:center; padding-top:10px;}
.partcontent span{width:100px; height:18px; float:left; margin-left:15px;}
#main .main1 .webtools{width:248px; height:168px; float:left; margin-left:0px; border:#b1dceb 1px solid; margin-top:1px; background-image:url(images/webtoolsbg.gif);}
#main .main1 .middle{width:570px;height:350px;float:left;}
#main .main1 .middle .flash{margin-left:0px; text-align:left; padding:0px;}
#main .main1 .middel .Recommend{ height:200px;}
#main .main1 .right{width:200px; height:350px;float:left;}
#main .main1 .right .help{width:200px; height:180px;float:left;border:#b1dceb 1px solid;}
#main .main1 .right .help div{margin-left:5px; margin-top:8px;}
#main .main1 .right .superstar{width:200px; height:220px;float:left;border:#b1dceb 1px solid;}
.superstar .title{ width:200px; }
.superstar .titlecontent{ width:100px; }
.superstar .more{ width:70px; }
.superstar .partcontent{width:200px; }
.topnavon { background-color:#0099CC; MARGIN-BOTTOM: 2px; WIDTH: 81px; CURSOR: pointer; COLOR: #000000; LINE-HEIGHT: 22px; HEIGHT: 22px; TEXT-ALIGN: center
}
.topnavoff {  background-color:#999999; MARGIN-BOTTOM: 2px; WIDTH: 81px; COLOR: #ffffff; LINE-HEIGHT: 22px; HEIGHT: 22px; TEXT-ALIGN: center
}
.ad1024{width:1024px;height:80px;border:#b1dceb 1px solid; margin-top:0px; background-image:url(images/ad1024.jpg);}
#classes{width:1024px; height:auto;border:#b1dceb 1px solid;}
#main .main2{width:1024px; height:auto;}
#main .main2 .partner{ width:495px; height:150px;float:left; margin-left:0px;border:#eba34e thin solid; }
#main .main2 .partner .title{width:98%; height:20px; float:left;}
#main .main2 .partner .partcontent{width:98%; height:auto; float:right;}
#main .main2 .buyers{ width:495px; height:150px;float:left; margin-left:26px;border:#eba34e thin solid;}
#main .main2 .buyers .title{width:98%; height:20px; float:left;}
#main .main2 .buyers .partcontent{width:98%; height:auto; float:right;}
/*网页底部定义开始*/
#bottom{width:100%; height:169px;float:left; background-image:url(images/bottombg.jpg); margin-top:3px;}
#bottom .about{float:left;width:100%;}
#bottom ul{ text-align:center; float:left; margin-left:300px; margin-top:20px; clear:both;}
#bottom ul li{ float:left; width:80px;}
#bottom .copyright{ clear:both; margin-top:10px;  margin-left:400px; float:left; width:200px;}
.Validator { text-align:left;display:none}